.Home_______Podtfolio {
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(127, 140, 140);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 1224.937px;
    top: 129.192px;
    z-index: 147;
}
